<h2>Contact us</h2>

<p> Company Name, <br>
    Building Name,<br>
    Address,<br>
    City, State Zipcode
</p>
<p> </p>

<p>Please fill your feeback and comments.</p>

<div style="max-width: 500px;">    
<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">First Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Last Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Last Name">
      </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select rating</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
   
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Comment / Feedback</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group text-center">        
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
  </form>

</div>
