
<h2>Static content</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a neque sed diam hendrerit ornare sit amet commodo sem. Etiam bibendum lacinia pharetra. Quisque ac semper ipsum. Suspendisse lobortis, mauris ac porttitor auctor, nisl lectus commodo lorem, vitae sollicitudin erat turpis a sem. Phasellus blandit dolor vel orci hendrerit, a tempor purus dapibus. Sed rhoncus dapibus nulla, vitae condimentum nibh vehicula non. Donec sed sagittis metus. In aliquam pharetra nisl a ullamcorper. Nulla ut mattis elit, nec molestie neque. Praesent ac aliquam tortor, non finibus orci. Quisque fringilla metus ut lectus tempor, vitae imperdiet arcu blandit. Donec eget lorem libero. Integer volutpat a tortor ut rutrum. Mauris placerat at elit quis ultrices. Morbi nec aliquet libero. Proin porttitor id leo non porta.</p>

<h2>Dynamic Content</h2>
<p data-matomo-mask>{{ dynamicData1 }}</p>
<div>
    <h2>Buttons</h2>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-dark">Dark</button>
    
    <button type="button" class="btn btn-link">Link</button>
</div>
<p></p>
<h2>Dynamic Content with sensitive data</h2>
<p data-matomo-mask>{{ dynamicData2 }}</p>
<h2>Static Content 2</h2>
<p>Nulla neque diam, dignissim id ullamcorper sit amet, feugiat vel mi. Quisque ut ultricies mauris, nec semper diam. Proin malesuada dolor sed quam sodales consequat. Ut sit amet consectetur augue. Etiam sed lobortis lacus. Donec nisi eros, convallis sit amet bibendum at, auctor ut libero. Sed facilisis vitae libero nec feugiat. Suspendisse potenti. Vivamus imperdiet nisi eu ligula bibendum dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc vestibulum fringilla velit sed pretium. Interdum et malesuada fames ac ante ipsum primis</p>
<h2>Static Content 3</h2>
<p>Vestibulum sollicitudin porttitor erat ac finibus. Nullam tellus mauris, pharetra lobortis placerat vitae, pulvinar nec mauris. Mauris faucibus non enim in fermentum. Sed sodales, turpis at laoreet iaculis, enim arcu interdum nunc, et vulputate felis ex eget arcu. Suspendisse ut pellentesque lectus. Duis posuere pharetra purus placerat fermentum. Fusce dapibus sem nec nunc mattis, in imperdiet elit tempor. Quisque consequat nunc at enim ornare, ac tincidunt ligula commodo. Proin ornare turpis libero, eget imperdiet neque lobortis quis. Ut placerat ultricies lectus vel sodales.</p>